certifi
cffi
charset-normalizer
comtypes
idna
keyboard
numpy
plyer
psutil
pycaw
pycparser
PyMonCtl
python-dotenv
pywin32
PyWinBox
PyWinCtl
requests
screeninfo
sounddevice
typing_extensions
urllib3
WMI
